header{
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(36, 36, 161);
    color: white;
    text-align: center;
}
.linha-horizontal{
    position: relative;
    background-color: black;
    width: 800px;
    height: 1px;
    top: 500px;
    left: 850px;
}
.fotoprin{
    position: relative;
    left: 200px;
    top: 100px;
    width: 600px;
    height: auto;
    box-shadow: 1px 1px 30px 2px;
    transition: transform 2.2s ease, filter 0.9s ease-in-out, opacity 0.3s ease-in-out;
}
.fotoprin:hover{
    transform: scale(0.2) rotate(270deg);
    filter: grayscale(100%);
    opacity: 20%;
    
    }
    .Home{
        position: absolute;
        left: 300px;
        top: 300px;
    }
    .oculto {
        display: none;
        position: absolute;
        left: 800px;
        top: 200px; 
        transition: transform 0.3s ease-in-out;
        transform: translateY(-100%);
    }
    .visivel {
        transform: translateY(0); /* Move o conteúdo para baixo, tornando-o visível */
    }
    
    #mostrarConteudo{
        position: absolute;
        left: 800px;
        top: 100px;
        
         
    }