body{
    background-color: #f0f8ff;
}
header{
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(36, 36, 161);
    color: white;
    text-align: center;
}
.Logo{
    position: absolute;
    top: 60px;
    left: 100px;
    width: 150PX;
    height: auto;
}
.Banner1{
    position: absolute;
    top: 200px;
    left: 0px;
}
.banner2{
    position: absolute;
    top: 1350px;
    left: 0px;
    width: 1903px;
    height: auto;
}
/*=========================Tudo Sobre os icones é aqui==============================*/
.formatação-dos-icones{
    position: relative;
    left: -160px;
    top: -120px;
}
.icon-alert{
    position: absolute;
    top: 800px;
    left: 430px;
    width: 80px;
    height: auto;
}
.icon-alert-p{
    position: absolute;
    top: 800px;
    left: 520px;
    text-indent: 40px;
    text-justify: 10px;
}
.icon-mira{
    position: absolute;
    top: 800px;
    left: 900px;
    width: 80px;
    height: auto;
}
.icon-mira-p{
    position: absolute;
    top: 800px;
    left: 990px;
    text-indent: 40px;
    text-justify: 10px;
}
.icon-defesa{
    position: absolute;
    top: 800px;
    left: 1300px;
    width: 80px;
    height: auto;
}
.icon-defesa-p{
    position: absolute;
    top: 800px;
    left: 1400px;
    text-indent: 40px;
    text-justify: 10px;
}
/*==============================================================================-*/
/*==================================Navegação====================================-*/

.Navegação{
    position: relative;
    display: flex;
    left: 0px;
    top: 140px;
    
}
.li-cont{
    position: relative;
    left: 50px;
    list-style: none;
   
    
}
.li-tex{
    position: relative;
    left: 150px;
    list-style: none;
    
}
.li-qsom{
    position: relative;
    left: 250px;
    list-style: none;
}
.li-int{
    position: relative;
    left: 350px;
    list-style: none;
    
}
.li-solu{
    position: relative;
    left: 450px;
    list-style: none;
    
}
a{
    text-decoration: none;
    color: black;
    position: relative;
   
    
}
   /*================================================================================ */
.botão-do-banner{
    position: absolute;
    top: 550px;
    left: 280px;
    background: linear-gradient(to right, rgb(22, 162, 255), rgb(18, 255, 128));
    width: 150px;
    height: 50px;
    font-size: 30px;
    border: 1px solid black;
    color: white;
    transition: transform 0.3s ease-in-out;
    transition: color 0.3s blueviolet;
    border-radius: 15px 15px 15px 15px;
    
}
.botão-do-banner:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 5px rgb(43, 255, 195),
                0px 0px 30px rgb(43, 255, 19),
                0px 0px 90px rgb(43, 255, 19);
}
/*=================================  Postes  =========================================*/
#Postes{
    position: relative;
    top: 800px;
    left: 400px;
    width: 10px;
    height: auto;
    display: flex;
}
.poste1{
    position: relative;
    left: -100px;
    transition: filter 0.3s ease, transform 0.3s ease-in-out;
    filter: grayscale(100%); 
    box-shadow: 1px 1px 20px 4px;
}
.poste1:hover{
    transform: scale(1.2) rotate(5deg);
    filter: grayscale(0%);
    box-shadow: 0px 0px 0px 0px;
}
.poste2{
    transition: filter 0.3s ease, transform 0.3s ease-in-out;
    filter: grayscale(100%);
    box-shadow: 1px 1px 20px 4px;
}
.poste2:hover{
    transform: scale(1.2) rotate(5deg);
    filter: grayscale(0%);
    box-shadow: 0px 0px 0px 0px;
}
.poste3{
    position: relative;
    left: 100px;
    box-shadow: 1px 1px 20px 4px;
    filter: grayscale(100%);
    transition: filter 0.3s ease, transform 0.3s ease-in-out;
}
.poste3:hover{
    transform: scale(1.2) rotate(5deg);
    filter: grayscale(0%);
    box-shadow: 0px 0px 0px 0px;
}
/*================================ Pacotes de compra ===================================*/
.img-diaria{
    position: relative;
    top: 1600px;
    left: 250px;
    transition: transform 0.3s ease-in-out;;
    box-shadow: 1px 1px 20px 4px;
}
.img-diaria:hover{
    transform: scale(1.1);
}
.img-anual{
    position: relative;
    top: 1600px;
    left: 300px;
    width: 500px;
    transition: transform 0.3s ease-in-out;;
    box-shadow: 1px 1px 20px 4px;
}

.img-anual:hover{
    transform: scale(1.1);
}
.img-mensal{
    position: relative;
    top: 1600px;
    left: 350px;
    transition: transform 0.3s ease-in-out;;
    box-shadow: 1px 1px 20px 4px;
}
.img-mensal:hover{
    transform: scale(1.1);
}
/*======================================================================================*/

.h1footer{
    color: rgb(0, 0, 0);
    position: relative;
    top: 30px;
    left: 1050px;
    font-size: 30px;
    width: 400px;
    display: inline-table
}
.pfooter{
    color: rgb(0, 0, 0);
    position: relative;
    top: 30px;
    left: 1000px;
    font-size: 14px;
    width: 800px;
}
.h1footer2{
    color: rgb(0, 0, 0);
    position: relative;
    top: 40px;
    left: -90px;
    font-size: 30px;
    width: 400px;
    display: inline-table
}
.redes{
    position: relative;
    left: 270px;
    top: -70px;
   width: 100px;
   display: flex;
}
.rede-inst{
    position: relative;
    left: 0px;
    border-radius: 50%;
    transition: color 0.9s rgb(255, 0, 242);
}
.rede-inst:hover{
    box-shadow: 0px 0px 5px rgb(255, 0, 242),
                0px 0px 30px rgb(255, 0, 242),
                0px 0px 100px rgb(255, 0, 242);
}
.rede-email{
position: relative;
left: 20px;
border-radius: 50%;
transition: color 0.3s rgb(255, 145, 0);
}
.rede-email:hover{
    box-shadow: 0px 0px 5px rgb(255, 145, 0),
                0px 0px 30px rgb(255, 145, 0),
                0px 0px 90px rgb(255, 145, 0);
}
.rede-youtube{
    position: relative;
    left: 40px;
    border-radius: 50%;
    transition: color 0.3s rgb(141, 16, 16);
    
}
.rede-youtube:hover{
    box-shadow: 0px 0px 5px rgb(255, 0, 0),
                0px 0px 30px rgb(255, 19, 19),
                0px 0px 90px rgb(255, 1, 1);
}
.rede-zap{
    position: relative;
    left: 60px; 
    border-radius: 50%;
    transition: color 0.3s rgb(13, 255, 0);
}
.rede-zap:hover{
    box-shadow: 0px 0px 5px rgb(43, 255, 195),
                0px 0px 30px rgb(43, 255, 19),
                0px 0px 90px rgb(43, 255, 19);
}